
@media (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 20px;
    }

    .navbar {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero h1 {
        font-size: 38px;
    }

    .hero p {
        font-size: 18px;
    }

}


@media (max-width: 480px) {

    .header {
        padding: 20px;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .navbar a {
        width: 100%;
        text-align: center;
        padding: 8px;
    }

    .hero {
        min-height: 400px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 16px;
    }

    .game-card {
        width: 100%;
        max-width: 320px;
    }

}

/* ========================================
   DETALLE RESPONSIVE
======================================== */

@media (max-width: 768px) {

    .detalle-contenido {
        grid-template-columns: 1fr;

        gap: 30px;

        padding: 25px;
    }


    .detalle-imagen img {
        height: 400px;
    }


    .detalle-info h1 {
        font-size: 30px;
    }

}


@media (max-width: 480px) {

    .detalle-videojuego {
        padding: 30px 5%;
    }


    .detalle-contenido {
        padding: 20px;
    }


    .detalle-imagen img {
        height: 300px;
    }


    .detalle-acciones {
        flex-direction: column;
    }


    .detalle-acciones button {
        width: 100%;
    }

}